/*-------------------------RESET----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*-------------------------Layout----------------------------*/
body {
  background-color: #efefef;

  font: normal 0.75rem 'serif', sans-serif;
  font-size: 80%;
  letter-spacing: 2px;
}

#page {
  width: 72%;
  height: 600px;
  padding: 0.75rem;
  padding-bottom: 2rem;

  margin: 1% auto;

  background-color: white;

  border: 0.25rem double #000;
}

.centralize {
  margin: 0 auto;
}
div {
  width: 80%;
  margin: 10px auto;
}
.swal2-container {
  width: 100% !important;
  margin: 0 !important;
}

/*-------------------------HEADER----------------------------*/
#header {
  text-align: center;
  margin-top: 2rem;
}

nav {
  margin-top: 5rem !important;
  margin-bottom: 2rem !important;
}
ul.header {
  text-align: center;

  border-top: 0.15rem solid;
  border-bottom: 0.07rem solid;

  padding: 1rem 0;
}

ul li {
  display: inline-block;

  margin-right: 1.25rem;
}

ul li a {
  color: black;

  text-transform: uppercase;

  padding: 0 0.25rem;
}

ul li a.on,
a:hover {
  color: #cc3333;
}

/*-------------------------Listinha----------------------------*/

.list {
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
ul.imagem {
  /*imagem como simbolo da lista*/
  list-style-image: url(star.png);

  margin-left: 1rem;
}

.imagem li {
  display: list-item;
}

.dentro {
  width: 60%;
}

.button {
  width: 10rem;

  margin: 10px auto;
}
.buttonPersonalized {
  padding: 0.5em 2.1875em;
  border: 0;
  border-radius: 0.1875em;
  background-color: #f4b3c2;
  box-shadow: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  font-family: monospace;
  cursor: pointer;
}
.swal2-styled.swal2-confirm {
  background-color: #f4b3c2 !important;
  border: none !important;
  box-shadow: 0 0 0 3px rgba(214, 34, 76, 0.5) !important;
}

/*-------------------------Sanfona----------------------------*/
.sanfona img {
  width: auto;
}
.sanfona li {
  margin-right: 0px;
}
.sanfona div {
  margin: 0;
}
.sanfona a {
  padding: 0;
}

.sanfona {
  height: 20rem;

  overflow: hidden;

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/* Um peuqeno hack para evitar oscilações em alguns navegadores*/
.sanfona ul {
  width: 2000px;
}

.sanfona li {
  margin: 0;

  position: relative;
  display: block;
  height: 150px;
  width: 100px;
  float: left;

  border-left: 1px solid #888;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.sanfona ul :hover li {
  width: 40px;
}

.sanfona ul li:hover {
  width: 600px;
}

.sanfona li img {
  display: block;
  top: 0;

  height: 20rem;
  width: 40rem;
}

/*-------------------------Text----------------------------*/
.text {
  text-align: center;
}

.text p {
  max-width: 370px;
  margin: 0 auto;

  line-height: 1.15rem;
}

/*-------------------------Text----------------------------*/
#quiz {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.questionHeader {
  display: flex;
  justify-content: space-around;
  width: min-content;
  white-space: pre;

  margin-left: 5.2rem;

  font-size: 16px;
  font-weight: 600;
}

.questionBody {
  text-align: left;
}

.questionBody div {
  display: flex;
  align-items: center;
  text-align: center;
}
.radio {
  margin-right: 6px;

  cursor: pointer;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  outline: none;
  border: 2px solid rgb(12, 12, 12);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio:before {
  position: absolute;

  content: '';
  background: #000;
  width: 8.5px;
  height: 8.5px;
  border-radius: 50%;

  opacity: 0;

  transition: all 400ms ease-in-out;
}

.radio:checked:before {
  opacity: 1;
}

.radio:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.greenRadio {
  border: 2px solid rgb(150 209 140);
  box-shadow: 0 0 5px rgba(150 209 140, 0.5);
}

.greenRadio:before {
  background: rgb(150 209 140);

  transition: all 100ms ease-in-out;
}

.redRadio {
  border: 2px solid rgb(148, 29, 29);
  box-shadow: 0 0 5px rgba(148 29 29, 0.5);
}

.redRadio:before {
  background: rgb(148, 29, 29);
  transition: all 100ms ease-in-out;
}

.greenNext {
  background-color: rgb(150 209 140);
}

.redNext {
  background-color: rgb(148, 29, 29);
}

#aswer {
  background-color: rgb(0 0 0);
}

#congratulations {
  position: absolute;
  left: 38%;
  top: 50%;
  width: auto;
}

.green {
  color: rgb(150 209 140);
}

.red {
  color: rgb(148, 29, 29);
}

#next,
#aswer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 0 auto;
  width: 150px;
  position: absolute;
  top: auto;
  left: 45%;
}

#next {
  color: #000;
}
#next::after {
  content: '';
  background-image: url(imagens/iconmonstr-arrow-right-thin.svg);
  width: 0px;
  height: 24px;
  opacity: 0;
  transform: translateX(-100%);

  transition: width 200ms, margin-left 200ms;
}

#next:hover::after {
  opacity: 1;
  transform: translateX(50%);
  width: 24px;
}
